<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Pechincha Digital</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
|</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
<a class="navbar-brand fw-bold" href="/">Pechincha Digital</a>
{% if session.get("admin") %}
<div>
<a class="btn btn-outline-light me-2" href="/produtos">Produtos</a>
</div>
<div>
<a class="btn btn-outline-light me-2" href="/estabelecimento">Estabelecimentos</a>
</div>
{% endif %}
</nav>

{% if session.get("admin") %}
    <div class="text-center mb-3">
        <a href="{{ url_for('consulta.logout_admin') }}" class="btn btn-danger">
            🔒 Encerrar modo administrador
        </a>
    </div>
{% endif %}

<div class="container mt-4">
{% block conteudo %}{% endblock %}
</div>

<script>
const atualizarLocalizacao = {{ atualizar_estabelecimento|default(None)|tojson }};

if (atualizarLocalizacao) {
    navigator.geolocation.getCurrentPosition(function(pos) {
        fetch("/atualizar_estabelecimento", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                latitude: pos.coords.latitude,
                longitude: pos.coords.longitude
            })
        });
    });
}
</script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
</body>
</html>

